body {
    font-family: "Raleway", sans-serif;
    background: #000000;
    color: #ffffff;
}
.navbar {
    background-color: transparent;
}
.navbar-nav{
    color: white;
    background-color: transparent;
}
.navbar-nav{
    text-align: center;
}
.icono {
    background-color: #25a3b7;
    color: #ffffff;
    min-height: 35px;
}
.card {
    background-color: #25a3b7;
    border-color: #ffffff;
}
.separador{
    background-color: #25a3b7;
    margin-bottom: 2.5rem;
}
.mensaje{
    height: 80px;
}
#enviar {
    margin-top: 10%;
}
.pie-pagina {
    background-color: #25a3b7;
    color: #ffffff;
    font-size: 24px;
}
.redes-sociales a{
    font-size: 24px;
    color: #ffffff;
}
